@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea {
    font: 400 18px Roboto, sans-serif;
}

button {
    cursor: pointer;
}

input {
    width: 75%;
    height: 45px;
    color: black;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
    margin-top: 8px;
}

img {
    margin: 100px;
}

.button:hover {
    filter: brightness(90%);
}

.button {
    width: 25%;
    height: 60px;
    background: #E02041;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: column;

    width: 100%;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 75%;
}

#Test {
    margin-top: 100px;
}
